@import "../style/global.scss";

.about {
  background-color: lightgreen;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 25px 25px 25px 70px;

  @include mobile {
    flex-direction: column;
  }
  .me {
    font-size: 3rem;
    color: crimson;
    margin: 0;
  }

  .aboutMeBio {
    flex: 1;

    p {
      font-size: 1.8rem;
      color: #696969;
      line-height: 1.6;
    }

    .top {
      margin: 20px 0px;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  a {
    text-decoration: none;
    color: crimson;
  }
  .aboutMeImg {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;

    @include mobile {
      flex-direction: column;
      width: 100%;
    }
  }

  .m-img {
    height: 25%;
    width: 25%;
    object-fit: cover;
    position: relative;
    padding-right: 75px;
  }

  .i-bg {
    clip-path: polygon(
      40% 0%,
      40% 20%,
      100% 20%,
      100% 80%,
      40% 80%,
      40% 100%,
      0% 50%
    );
    background-color: $maincolor;
    width: 46%;
    height: 80%;
    position: absolute;
    top: 4;
    right: 0;
    object-fit: contain;

    @include mobile {
      display: none;
    }
  }

  .tool {
    display: flex;
    flex-wrap: wrap;
    height: 45%;
    width: 65%;
    position: relative;

    @include mobile {
      flex-direction: column;
    }
  }

  .m-tool {
    text-align: center;
    font-size: 3rem;
    color: crimson;
    position: relative;
    padding-top: 79px;
    padding-left: 35px;
    padding-bottom: 15px;
    margin: 0;
  }

  .skills {
    color: #696969;
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      flex-basis: 27%;
      padding: 20px 0;
      // width: 80px;

      .icon {
        width: 50px;
        height: 50px;
        border-radius: 20px;
      }
    }
  }
}
