@import "../style/global.scss";

.about {
  background-color: lightgreen;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 25px 25px 25px 70px;

  @include mobile {
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    padding: 25px;
  }
  .me {
    font-size: 50px;
    color: crimson;
    margin: 0;

    @include mobile {
      font-size: 20px;
    }
  }

  .aboutMeBio {
    flex: 1;

    p {
      font-size: 1.8rem;
      color: #696969;
      line-height: 1.6;

      @include mobile {
        font-size: 20px;
        flex-direction: column;
        justify-content: center;
        padding-right: 50px;
      }
    }

    .top {
      margin: 20px 0px;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      flex: none;
    }
  }

  a {
    text-decoration: none;
    color: crimson;
  }
  .aboutMeImg {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
  }

  .m-img {
    height: 25%;
    width: 25%;
    object-fit: cover;
    position: relative;
    padding-right: 75px;

    @include mobile {
      flex-direction: column;
      height: 100%;
      width: 90%;
    }
  }

  .i-bg {
    clip-path: polygon(
      40% 0%,
      40% 20%,
      100% 20%,
      100% 80%,
      40% 80%,
      40% 100%,
      0% 50%
    );
    background-color: $maincolor;
    width: 46%;
    height: 80%;
    position: absolute;
    top: 4;
    right: 0;
    object-fit: contain;

    @include mobile {
      display: none;
    }
  }
}
