@import "../style/global.scss";

.about {
  background-color: lightgreen;
  min-height: 500px;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 25px 25px 80px;

  .me {
    font-size: 3rem;
    color: crimson;
    margin: 0;
  }

  .aboutMeBio {
    flex: 1;

    p {
      font-size: 1.8rem;
      color: #696969;
      line-height: 1.6;
    }

    .top {
      margin: 20px 0px;
    }
  }

  a {
    text-decoration: none;
    color: crimson;
  }
  .aboutMeImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
  }

  img {
    height: 35%;
    width: 35%;
    object-fit: cover;
    position: relative;
  }

  .i-bg {
    clip-path: polygon(100% 0%, 100% 49%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: $maincolor;
    width: 46%;
    height: 100%;
    position: absolute;
    top: 4;
    right: 0;
    object-fit: contain;
  }
}
