.contact {
  background-color: lightblue;

  .c-wrapper {
    padding: 50px;
    display: flex;
  }

  .c-info {
    flex: 1;
  }
  .c-form {
    flex: 1;
  }

  .socialIcons {
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;

    .fa {
      width: 30px;
      height: 30px;
    }
  }
}
