@import "../style/global.scss";

.projects {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;

    @include mobile {
      font-size: 20px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
  }

  .firstRow,
  .secondRow {
    height: 50%;
    margin-left: -30px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .item1,
    .item2,
    .item3,
    .item4 {
      width: 50%;
      height: 87%;
      border-radius: 20px;
      border: 1px solid rgb(240, 239, 239);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: white;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;

      @include mobile {
        width: 90%;
        height: 180px;
        margin: 5px, 0;

        &:hover {
          background-color: $maincolor;
          img {
            opacity: 0.2;
            z-index: 0;
          }
        }
      }

      h3 {
        position: absolute;
        font-size: 20px;
        font-weight: 500;
        inset: 0;
        transition-duration: 300ms;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
      }

      p {
        position: absolute;
        display: flex;
        align-items: center;
        margin: 0 auto;
        text-align: center;
      }

      .view {
        position: absolute;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        margin-top: 90px;
      }

      .button {
        cursor: pointer;
        background-color: white;
        color: inherit;
        padding: 10px 15px;
        margin: 10px;
        width: auto;
        border-radius: 5px;
        border: none;
        text-decoration: none;
        color: $maincolor;
        text-transform: uppercase;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: $maincolor;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
  .pro {
    position: absolute;
    text-align: left;
    width: 80%;
    left: 73px;
    right: 0px;
    font-size: 20px;
    font-weight: 500;
    color: $maincolor;
  }
}
